@font-face {
  font-family: "SegoeUI Light";
  src: url("segoeuil.ttf");
}

body {
  font: 12px sans-serif;
  padding: 0;
  margin: 0;
}

.dropdown {
  font-family: 'SegoeUI Light';
  font-weight: lighter;
  font-size: 14px;
  border-radius: 3px;
  height: 30px;
}

.dropdown:focus {
  outline: none;
} 

.play-button {
  background: #696969;
  border-radius: 3px;
  border: none;
  color: white;
  margin:0;
  width: 70px;
  cursor: pointer;
  height: 30px;
  font-family: 'SegoeUI Light';
  font-weight: lighter;
}

.play-button:hover {
  background-color: #4d4d4d;
}    

.play-button:focus {
  outline: none;
} 

.ticks {
  font-size: 10px;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

.track-inset {
  stroke: #696969;
  stroke-width: 10px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  stroke: transparent;
  cursor: crosshair;
}

.handle {
  fill: #fff;
  stroke: #696969;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}

.label {
  font-family: 'SegoeUI Light';
  font-weight: bold;
  font-size: 15px;
}

.candiesDetail {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  font-family: 'SegoeUI Light';
  font-weight: bold;
  font-size: 15px;
}

#main {
  padding: 0;
}

.vis-title {
  font-family: 'SegoeUI Light';
  font-weight: lighter;
  text-align: center;
  font-size: 33px;
}

#svg {
  margin-top: -40px;
}

.textDetails {
  display: block;
}

.button-container {
  padding-left: 300px;
  margin-top: -10px;
  vertical-align: middle;
}